@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero {
    @apply text-red-800 text-5xl
  }
}
@layer utility {
  .dark {
    @apply text-white
  }
  .light {
    @apply text-slate-600
  }
}
.swiper{
  width: 1290px;
  height: 340px;
  background: rgb(136, 185, 234);
  opacity: 80%;
  row-gap: 10px;
  color: azure;
  border-radius: 12px;
  position: relative;
  border:1px solid rgb(128, 171, 236);
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);;
  
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

